{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}{% endblock titulo %}</title>

<link rel="stylesheet" href= "{% static 'styles/navbar.css' %}">
<script src="https://kit.fontawesome.com/5747557d2f.js" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href= "{% static 'styles/aside.css' %}">
<link rel="stylesheet" href= "{% static 'styles/scrollbar.css' %}">
<link rel="stylesheet" href= "{% static 'styles/newpost.css' %}">

{% block styles %}
{% endblock styles %}
</head>
<body>
    <nav>
        <aside class="hidden">
            <div class="item">
                <i class="fas fa-certificate"></i> 
                <p class="aside-text">OPCIÓN 1</p>
            </div>
            <div class="item">
                <i class="fas fa-user"></i> 
                <p class="aside-text">OPCIÓN 2</p>
            </div>
            <div class="item" id="categorias" >
                <i class="fas fa-bars"></i> 
                <p class="aside-text">CATEGORIAS</p>
                <i class="fas fa-chevron-down right-aside"></i>
            </div>
            <div class="categorias hidden">
                <div class="subitem">
                    <i class="far fa-circle fa-xs"></i>
                    <p class="aside-text">awudiawu</p>
                    <input type="checkbox" name="" id="">
                </div>
                <div class="subitem">
                    <i class="far fa-circle fa-xs"></i>
                    <p class="aside-text">awudiawu</p>
                    <input type="checkbox" name="" id="">
                </div>
            </div>
            <div class="item">
                <i class="fas fa-book"></i>
            </div>
            <div class="item">
                <i class="fas fa-search"></i>
            </div>
            <div class="item">
                <i class="fas fa-bell"></i>
            </div>

            
            

        </aside>
        <div class="icon menu">
            <i class="fas fa-bars fa-lg"></i>
        </div><p class="title">Boardy</p> 
        <div class="right">  
            <div class="icon search">
                <i class="fas fa-search fa-lg"></i>
            </div>
            <div class="icon bell"id='icon-notif'>
                <i class="fas fa-bell fa-lg"></i>
            </div>
            <div class="icon user"id='icon-user'> 
                <i class="fas fa-user fa-lg"></i>
            </div>
            <div class="icon plus" id='new-thread'>
                <i class="fas fa-plus-circle fa-lg"></i>
            </div>
        </div>
    </nav>
        <div class="contenido">
        {% block content %}
        {% endblock content %}
        </div>
        
        <div class="overlay hidden"></div>
        <div class="add-post hidden" >
            <h1>Crear hilo</h1>
            <form action="" method="post">
                {% csrf_token %}
                <div class="input-box-file">
                    <h3 id="nombre-archivo"></h3>
                    <input type="file" name="file" id="archivo" accept="image/*">
                    <label for="archivo">
                        <i class="fas fa-upload"></i>
                    </label><div class="borrar-archivo">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Titulo" id='titulo'>
                </div>
                <div class="input-box">
                    <select name="categ" id="selector-categoria">
                        <option value="" selected>categoria</option>
                        <option value="adaw">adad</option>
                        <option value="adaw">adad</option>
                    </select>
                </div>
                <div class="input-box">
                    <textarea type="text" id='texto' placeholder="Escribe el contenido de tu hilo..."></textarea>
                </div>
                <button type="submit" id='submit-post'>Subir</button>

            </form>
        </div>

        <script src="{% static 'scripts/aside.js' %}"></script>
        <script src="{% static 'scripts/newthread.js' %}"></script>
        {% block js %}
        {% endblock js %}
    </body>
    </html>
        
