aside {
    position:absolute; 
    height: 100vh;
    width: 256px;
    background-color: var(--color2);
    z-index: 40;
    top: 41px;
    left:0;
    transform: translateX(0);
    transition: .3s ease-in-out;
    overflow-x: scroll;
}

aside.hidden{
    transform: translateX(-100%);
    transition: .3s ease-in-out;
}
aside .item{
    position: relative;
    user-select: none;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid var(--color3);
}

.subitem{
    position: relative;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid var(--color2);
}
.subitem .far{
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 28px;
    color: var(--color4);    
}
.subitem input{
    margin-top: 12px;
}
.item .fas{
    padding:12px;
    color: var(--color4);
}

.right-aside{
    position: relative;
    display: inline-block;
}

.aside-text{
    margin: auto;
    width: 165px;
    text-align: center;
    display: inline-block;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    color: var(--color4);
}

.item:hover, .subitem:hover{
    background-color: rgba(0, 0, 0, .2);
}
.overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 41px;
    background-color: rgba(0, 0, 0, .5);
    transition: background-color .2s linear;

}
.overlay.hidden{
    top:100vh;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color .2s linear;
}

.categorias.hidden{
    height: 0;
    position: absolute;
    overflow: hidden;
}
.categorias{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.item.activo .right-aside{
    transform: rotate(45);
    color: red;
}