::-webkit-scrollbar {
    width: 3px;
    position: absolute;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--color2);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color3);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color3);
  }